
table {
    border-collapse: collapse;
    display: grid;
    width: 35%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(5, 5, 5);  
}

tr:nth-child(even) {
    background-color:rgb(182, 231, 240);
}

tr:hover {
    background-color: rgb(84, 185, 17);
}

input[type=text] {
    border: none;
    border-bottom: 4px solid rgb(5, 69, 246);
  }

  input[type=text] {
    background-color: #000000;
    color: white;
  }


  #excitedcustomer {
    height: 200px;
    width:200px;
    filter: grayscale(70%);
  }

  .specialdiv {
    font-size: 22px;
    color: rgb(255, 0, 170)
   }

   .specialheading {
    padding: 50px;
    text-align: center;
    background: #000000;
    color: rgb(219, 9, 226);
    font-size: 40px;
  }

  .paragraph {
    border-style: solid dashed;
    border-width: 5px;
  }


   #saving {
    height: 150px;
    width:150px;
    transform: scaleX(-2);
  }

  ul {
    display: block;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #722121;
    list-style-type: disc;
    margin-top: 0em;
    margin-bottom: 2 em;
    margin-left: .25;
    margin-right: .25;
    padding-left: 38px;
  }

  h2 {
    text-align: left;
    color: rgb(9, 15, 70);
    font-size: 20px;
    text-decoration: underline;
  }

  h3 {
    padding: 40px;
    text-align: center;
    background: #000000;
    color: rgb(219, 9, 226);
    font-size: 20px;
  }

  #ladyshopping {
    height: 300px;
    width:300px;
    opacity: 0.5;;
  }
